@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TeXGyreAdventor";
    src: url("../public/fonts/TexGyrAdventor/TeXGyreAdventor-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TeXGyreAdventor";
    src: url("../public/fonts/TexGyrAdventor/TeXGyreAdventor-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "TeXGyreAdventor";
    src: url("../public/fonts/TexGyrAdventor/TeXGyreAdventor-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: "TeXGyreAdventor";
    src: url("../public/fonts/TexGyrAdventor/TeXGyreAdventor-Italic.ttf");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "Verdana";
    src: url("../public/fonts/Verdana/verdana.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Verdana";
    src: url("../public/fonts/Verdana/verdanab.ttf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Verdana";
    src: url("../public/fonts/Verdana/verdanai.ttf");
    font-style: italic;
    font-weight: normal;
}

